.container {
    width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        width: 992px;
    }
}
@media (max-width: 992px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 720px) {
    .container {
        width: 680px;
    }
}

@media (max-width: 680px) {
    .container {
        width: 500px;
    }
}
@media (max-width: 500px) {
    .container {
        width: 400px;
    }
}
@media (max-width: 400px) {
    .container {
        width: 360px;
    }
}
@media (max-width: 360px) {
    .container {
        width: 320px;
    }
}
