.navButton {
    color: #000;
    font-size: 16px;
    line-height: 110%;
    background: transparent;
    transition: all 200ms ease-out;
}

.navButton:hover {
    text-shadow: 0px 0 10px #fff;
    transition: all 200ms ease-in;
}

@media (max-width: 991px) {
    .navButton {
        font-size: 14px;
    }
}
