@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

header {
    min-height: 748px;
    background-image: url(/src/img/background.png);
    background-position: center;
}
main {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
}
footer {
    min-height: 372px;
    background-image: url(/src/img/footer_background.png);
}
