.catalog {
    position: relative;
}
.catalog__content {
    display: flex;
    flex-direction: column;
}
.catalog__header {
    margin: 120px 0 0 0;
}
.catalog__header h1 {
    width: 500px;
}

.catalog__cards {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.catalog__card {
    display: flex;
    flex-direction: column;
    flex: 0 1 386px;
    padding: 30px 28px 49px;
    box-shadow: 1px 6px 16px 0px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
}
.catalog__card_image {
    align-self: center;
}
.catalog__card_image img {
    width: 192px;
    height: 192px;
}
.catalog__card_tag {
    align-self: flex-start;
    margin: 10px 0 0 0;
}
.catalog__card_description {
    margin: 23px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}
.catalog__card_resolution {
    margin: 10px 0 0 0;
    opacity: 0.7;
}
.catalog__card_lens {
    margin: 4px 0 0 0;
    opacity: 0.7;
}
.catalog__card_guarantee {
    margin: 4px 0 0 0;
    opacity: 0.7;
}

.catalog__to-catalog {
    margin: 40px 0 100px 0;
}

@media (max-width: 991px) {
    .catalog__cards {
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }
    .catalog__card {
        flex: 0 0 370px;
    }
    .catalog__card:first-child {
        margin: 0 10px 0 0;
    }
    .catalog__card:nth-child(2) {
        margin: 0 10px;
    }
    .catalog__card:last-child {
        margin: 0 0 0 10px;
    }
    .catalog__to-catalog {
        margin: 20px 0 50px 0;
    }
}
