.tariffs {
    position: relative;
    background-image: url(../img/tariffs/tariffBg.png);
}
.tariffs__content {
    display: flex;
    flex-direction: column;
    height: 733px;
    color: #fff;
}
.tariffs__header {
    margin: 120px 0 0 0;
    font-family: Play;
}
.tariffs__header h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

.tariffs__cards {
    margin: 50px 0 120px 0;
    display: flex;
    justify-content: space-between;
}
.tariffs__card {
    padding: 50px 45px;
    flex: 0 1 370px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 10px;
    opacity: 0.7;
    transition: all 200ms ease-in;
}
.tariffs__card_header {
    font-family: Play;
    font-size: 26px;
    font-weight: 700;
    line-height: 120%;
}
.tariffs__card_price {
    margin: 30px 0 0 0;
    display: flex;
    font-family: Play;
    font-size: 48px;
    font-weight: 700;
}
.tariffs__card_price span {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
}
.tariffs__card_description {
    margin: 20px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    flex: 1 1 auto;
}
.tariffs__card button {
    margin: 30px 0 0 0;
    background: none;
    transition: all 200ms ease-in;
}

.tariffs__card:hover {
    opacity: 1;
    box-shadow: 0px 0px 0px 1px #fff;
    border-radius: 4px;
    transition: all 200ms ease-in;
}

.tariffs__card:hover button {
    background: #386df4;
}
