.header h1 {
    font-size: 48px;
    font-family: Play;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}
.subheader {
    font-family: Play;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.main-text {
    font-size: 18px;
    font-style: normal;
    line-height: 140%;
    font-weight: 500;
}
.secondary-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.blue-tag {
    color: #fff;
    font-size: 12px;
    line-height: 150%;
    font-weight: 500;
    padding: 0 8px;
    background-color: #384e85;
    border-radius: 10px;
}

/* Blue button to smth */
.to-smth-btn {
    position: relative;
    align-self: flex-end;
    font-size: 18px;
    padding: 0 40px 0 0;
    font-weight: 600;
    line-height: 110%;
    color: #4466fb;
    background: none;
}

.to-smth-btn::before {
    content: "";
    position: absolute;
    top: 60%;
    right: 3px;
    rotate: -45deg;
    height: 3px;
    width: 13px;
    background: #4466fb;
}
.to-smth-btn::after {
    content: "";
    position: absolute;
    top: 23%;
    right: 3px;
    rotate: 45deg;
    height: 3px;
    width: 13px;
    background: #4466fb;
}

/* Blue arrow buttons */
.arrowBtn_left {
    position: relative;
    width: 36px;
    height: 36px;
    background: #386df4;
    border-radius: 7px;
    margin: 0 10px 0 0;
}
.arrowBtn_left:disabled {
    opacity: 0.5;
}
.arrowBtn_left::before {
    content: "";
    position: absolute;
    top: 39%;
    left: 35%;
    rotate: -45deg;
    height: 2px;
    width: 30%;
    background: #fff;
}
.arrowBtn_left::after {
    content: "";
    position: absolute;
    bottom: 38%;
    left: 35%;
    rotate: 45deg;
    height: 2px;
    width: 30%;
    background: #fff;
}

.arrowBtn_right {
    position: relative;
    width: 36px;
    height: 36px;
    background: #386df4;
    border-radius: 7px;
}
.arrowBtn_right:disabled {
    opacity: 0.5;
}
.arrowBtn_right::before {
    content: "";
    position: absolute;
    top: 39%;
    left: 35%;
    rotate: 45deg;
    height: 2px;
    width: 30%;
    background: #fff;
}
.arrowBtn_right::after {
    content: "";
    position: absolute;
    bottom: 38%;
    left: 35%;
    rotate: -45deg;
    height: 2px;
    width: 30%;
    background: #fff;
}

@media (max-width: 991px) {
    .arrowBtn_left {
        width: 32px;
        height: 32px;
    }
    .arrowBtn_right {
        width: 32px;
        height: 32px;
    }
    .header h1 {
        font-size: 28px;
        font-family: Play;
        font-style: normal;
        font-weight: 700;
        line-height: 30.8px;
    }
    .subheader {
        font-family: Play;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 26.4px;
    }
    .main-text {
        font-size: 16px;
        font-style: normal;
        line-height: 22.4px;
        font-weight: 500;
    }
    .arrowBtn_left {
        margin: 0 8px 0 0;
    }
}
