.topbar {
    position: relative;
    padding: 16px 0 0 0;
    z-index: 3;
    height: 81px;
}
.topbar.fixed {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: 0;
}

.topbar__content {
    display: flex;
    justify-content: space-between;
    transition: top 200ms ease-in-out;
    width: 100%;
    max-width: 1200px;
    height: 65px;
}
.topbar__content.whiteBtn button {
    color: #fff;
}

.topbar__logo {
    flex: 0 1 473px;
}

.topbar__menu {
    flex: 0 1 482px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 0;
}

.topbar__login {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}

.topbar__burger {
    width: 60px;
    height: 36px;
    position: relative;
    z-index: 10;
}
.topbar__burger span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 5px;
    top: 45%;
}
.topbar__burger span::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 5px;
    top: -12px;
}
.topbar__burger span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 5px;
    top: 12px;
}
.topbar__content.whiteBtn > .topbar__burger span {
    background-color: #fff;
}
.topbar__content.whiteBtn > .topbar__burger span::before {
    background-color: #fff;
}
.topbar__content.whiteBtn > .topbar__burger span::after {
    background-color: #fff;
}

.topbar__loginIcon {
    width: 46px;
    height: 46px;
    position: relative;
}
.topbar__loginIcon img {
    width: 100%;
}

@media (max-width: 991px) {
    .topbar__logo {
        flex: 0 1 135px;
    }
    .topbar__menu {
        flex: 0 1 380px;
    }
    .topbar__login {
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    .topbar__content {
        justify-content: flex-start;
        max-width: 720px;
    }
    .topbar__login {
        flex: 1 1 auto;
        justify-content: flex-end;
    }
}

@media (max-width: 720px) {
    .topbar {
        padding: 16px 0 0 0;
    }
    .topbar__content {
        max-width: 680px;
        align-items: center;
        justify-content: space-between;
    }
}
