.topbar {
    position: relative;
    padding: 16px 0 0 0;
    z-index: 3;
    height: 81px;
}
.topbar.fixed {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: 0;
}

.topbar__content {
    display: flex;
    justify-content: space-between;
    transition: top 200ms ease-in-out;
    width: 100%;
    max-width: 1200px;
    height: 65px;
}
.topbar__content.whiteBtn button {
    color: #fff;
}

.topbar__logo {
    flex: 0 1 473px;
}

.topbar__menu {
    flex: 0 1 482px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 0;
}

.topbar__login {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .topbar__logo {
        flex: 0 1 135px;
    }
    .topbar__menu {
        flex: 0 1 380px;
    }
    .topbar__login {
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    .topbar__content {
        justify-content: flex-start;
        max-width: 720px;
    }
    .topbar__login {
        flex: 1 1 auto;
        justify-content: flex-end;
    }
}

@media (max-width: 720px) {
    .topbar__content {
        max-width: 680px;
    }
}
